* {
    margin: 0;
    color: rgba(64, 63, 61, 1);
    font-family: Inter;
}

a {
  text-decoration: none;
}

.content {
    width: 530px;
    margin-top: -544px;
    margin-left: 100px;
}

.h1 {
    font-size: 74px;
    font-weight: 600;
    line-height: 100%;
    width: 530px;
    color: #E1D4C9;
}

body {
  background-color: rgba(225, 212, 201, 1);
  width: 1440px;
  padding-top: 20px;
  margin: 0 auto;
}

.header-menu, .nav {
  display: flex;
  padding: 0 40px 20px 40px;
  font-weight: 600;
  font-size: 16.2px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  flex: 0.991 0 0;
  align-self: stretch;
  font-style: normal;
  margin-top: 12px;
}

.nav .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-bottom: 2px solid rgba(225, 212, 201, 1);;
}

.menu-item,
.coffee-menu,
.logo {
  cursor: pointer;
}

.menu-item:hover {
  transform: scaleX(1);
  border-bottom: 2px solid rgba(64, 63, 61, 1);
  transition: 0.5s ease-in-out;
}

.container {
  height: 644px;
  margin: -3px 40px 0px 40px;
  width: 1360px;
}

.coffee-menu {
    display: flex;
    max-width: 1360px;
    justify-content: space-between;
    align-items: center;
    margin-right: -9px;
    margin-bottom: 10px;
    align-self: stretch;
}

.coffee-menu img {
  margin-left: 8px;
}

.text {
    color: #E1D4C9;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 41.2px 0px 40px 0px;
}

.container img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    object-fit: cover;	
}

.button-menu {
  display: flex;
  height: 64px;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 20px;
  border-radius: 100px;
  background-color: #E1D4C9;
  color: #403F3D;
  text-decoration: none;
  box-sizing: border-box;
  z-index: 10;
  position: relative;
  cursor: pointer;
  font-weight: 400;
}

.button-menu span {
  transition: 0.5s ease-in-out;
  padding-left: 20px;
}

.button-menu img {
  opacity: 0;
  transition: 0.5s ease-in-out;
  width: 20px;
  height: 20px;
}

.button-menu:hover img {
  opacity: 1;
}

.button-menu:hover span {
  padding-left: 0px;
}

.main-head {
  color: #403F3D;
  text-align: center;
  font-size: 61px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; 
  margin: 99px 0px 40px 0px;
}

.arrow-left button,
.arrow-right button{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665F55);
  justify-content: center;
  align-items: center;
  background-color: #E1D4C9;
  margin-bottom: 35px;
  cursor: pointer;
}

.arrow-left button {
  background: url("data:image/svg+xml,%3csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cg%20id='arrow-right'%3e%3cpath%20id='Vector'%20d='M6%2012H18.5M18.5%2012L12.5%206M18.5%2012L12.5%2018'%20stroke='%23403F3D'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/g%3e%3c/svg%3e") 50% 50% no-repeat;
  transform: scale(-1, 1)
}

.arrow-right button {
  background: url("data:image/svg+xml,%3csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cg%20id='arrow-right'%3e%3cpath%20id='Vector'%20d='M6%2012H18.5M18.5%2012L12.5%206M18.5%2012L12.5%2018'%20stroke='%23403F3D'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/g%3e%3c/svg%3e") 50% 50% no-repeat;
}

.arrow-left button:hover {
  background: url("data:image/svg+xml,%3csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cg%20id='arrow-right'%3e%3cpath%20id='Vector'%20d='M6%2012H18.5M18.5%2012L12.5%206M18.5%2012L12.5%2018'%20stroke='%23E1D4C9'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/g%3e%3c/svg%3e") 50% 50% no-repeat;
  background-color: #665F55;
  color: #E1D4C9;
  transform: scale(-1, 1);
  transition: 0.5s ease-in-out;
}

.arrow-right button:hover{
  background: url("data:image/svg+xml,%3csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cg%20id='arrow-right'%3e%3cpath%20id='Vector'%20d='M6%2012H18.5M18.5%2012L12.5%206M18.5%2012L12.5%2018'%20stroke='%23E1D4C9'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/g%3e%3c/svg%3e") 50% 50% no-repeat;
  background-color: #665F55;
  color: #E1D4C9;
  transition: 0.5s ease-in-out;
}

.coffee-slider {
  width: 1152px;
}

.coffee-slider img {
  width: 480px;
  height: 480px;
  margin: 0 336px;
}

.swaper {
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.coffee-slider div {
  text-align: center;
  margin: 15px 336px 16px 336px;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.control {
  width: 40px;
  height: 4px;
  border: none;
  border-radius: 100px;
  background: #c1b6ad;
}

footer {
  width: 1360px;
  border-radius: 40px;
  background-color: #665F55;
  margin: 100px 40px 40px 40px;
}

.offer {
  margin: 100px;
}

.offer button {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: #665F55;
  border: 1px solid #C1B6AD;
  margin-right: 12px;
}

.offer button:hover {
  background-color: #E1D4C9;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.container-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container-head,
.contacts {
  color: #E1D4C9;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; 
}

.container-head {
  line-height: 125%;
  font-size: 24px;
  margin-bottom: 40px;
}

.contacts {
  margin-bottom: 16px;
  border-bottom: 2px solid #665F55;
  cursor: pointer;
}

.contacts img {
  margin-right: 8px;
}

.contacts:hover {
  transform: scaleX(1);
  border-bottom: 2px solid #C1B6AD;
  transition: 0.5s ease-in-out;
}

.picture {
  width: 660px;
  height: 430px;
}

.picture1 {
  width: 660px;
  height: 590px;
}

.picture,
.picture1 {
  overflow: hidden; 
  border-radius: 20px;
  margin-bottom: 40px;
}

.picture img,
.picture1 img {
  display: block;
  transition: 1s;
  width: 660px;

}

.picture img:hover,
.picture1 img:hover {
  transform: scale(1.2); 
}

.picture-box, 
.footer-container,
footer,
.button-link {
  display: flex;
}

.picture-box div {
  margin: 40px 5px 0px 15px;
}

.footer-box {
  margin: 204px 100px 40px 40px;
  width: 630px;
}

.main-img-phone {
  margin: 56px 40px 0px 0px;
}

.resource {
  font-size: 61px; 
  font-weight: 600; 
  line-height: 123%; 
  margin: 85px 40px 0 40px;
}

.head-footer {
  font-size: 60px; 
  color:#E1D4C9; 
  line-height: 125%; 
  width: 530px; margin-bottom: 40px;
}

.main-header-download {
  font-size: 61px; 
  font-weight: 600; 
  line-height: 125%;
}

@media screen and (max-width: 1430px) {  

  body {
    background-color: rgba(225, 212, 201, 1);
    width: 768px;
    padding-top: 20px;
    margin: 0 auto;
  }
  
  .nav, .coffee-menu{
    display: none;
  }

  .container {
    height: 644px;
    margin: -3px 40px 0px 40px;
    width: 688px;
  }

  .container img {
    border-radius: 40px;
    object-fit: cover;	
  }

  .content {
    width: 568px;
    margin-top: -547px;
    margin-left: 60px;
  }
  
  .button-menu span {
    transition: 0.5s ease-in-out;
    padding-left: 0px;
  }
  
  .button-menu img {
    opacity: 1;
    transition: 0.5s ease-in-out;
    width: 20px;
    height: 20px;
  }

  .coffee-slider {
    width: 688px;
  }

  .swaper {
    width: 688px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    margin: 0 40px;
  }

  .coffee-slider img {
    width: 480px;
    height: 480px;
    margin: 0px;
  }
  
  .coffee-slider div {
    text-align: center;
    margin: 15px 0px 16px 5px;
  }
  
  .arrow-left button,
  .arrow-right button{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665F55);
    justify-content: center;
    align-items: center;
    background-color: #E1D4C9;
    margin-bottom: 61px;
    cursor: pointer;
  }

  .picture {
    display: none;
  }
    
  .picture1 {
    overflow: hidden; 
    border-radius: 20px;
    margin-bottom: 40px;
    width: 687px;
    height: 590px;
  }
  
  .picture1 img {
    display: block;
    transition: 1s;
    width: 687px;
  }

  .picture-box,
  .footer-container,
  footer {
    display: block;
  }

  .picture-box div {
    margin: 40px 40px 0px 20px;
  }

  .footer-box {
    margin: 100px 100px 40px 40px;
    width: 688px;
  }

  .main-img-phone {
    margin: 95px 40px 0px 70px;
  }

  .offer {
    margin: 0;
    padding: 100px 60px 40px 60px;
  }
  
  .container-contacts {
    padding: 55px 60px 85px 60px;
  }

  footer {
    width: 688px;
    border-radius: 40px;
    background-color: #665F55;
    margin: 100px 40px 40px 40px;
  }

  .arrow-left button:hover {
    background: url("data:image/svg+xml,%3csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cg%20id='arrow-right'%3e%3cpath%20id='Vector'%20d='M6%2012H18.5M18.5%2012L12.5%206M18.5%2012L12.5%2018'%20stroke='%23403F3D'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/g%3e%3c/svg%3e") 50% 50% no-repeat;
    transform: scale(-1, 1);
    background-color: #E1D4C9;
    color:  #665F55;
    transition: none;
  }
  
  .arrow-right button:hover{
    background: url("data:image/svg+xml,%3csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cg%20id='arrow-right'%3e%3cpath%20id='Vector'%20d='M6%2012H18.5M18.5%2012L12.5%206M18.5%2012L12.5%2018'%20stroke='%23403F3D'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/g%3e%3c/svg%3e") 50% 50% no-repeat;
    background-color: #E1D4C9;
    color:  #665F55;
    transition: none;
  }

  .picture img:hover,
  .picture1 img:hover {
    transform: scale(1.0); 
  }

  .contacts:hover {
    transform: scaleX(1);
    border-bottom: 2px solid #665F55;
    transition: none;
  }

  .offer button:hover {
    background-color: #665F55;
    transition: none;
  }

  .burger {
    position: absolute;
    display: flex;
    width: 300px;
    justify-content: center;
    margin: -77px 0 0 556px;
  }

  .burger a{
      display: flex;
      width: 44px;
      height: 44px;
      border-radius: 100px;
      border: 1px solid #665F55;
      justify-content: center;
      align-items: center;  
      background-color: rgba(225, 212, 201, 1);
      font-size: 34px;
  }

  .button-menu img {
    opacity: 1;
  }
  
  .button-menu span {
    padding-left: 22px;
  }
}

@media screen and (max-width: 768px) {  

  body {
    width: 380px;
    padding-top: 20px;
    margin: 0 auto;
  }

  .container {
    height: 552px;
    margin: -3px 16px 0px 16px;
    width: 348px;
  }

  .content {
    width: 316px;
    margin-top: -547px;
    margin-left: 20px;
  }
  
  .h1 {
    font-size: 42px;
    width: 316px;
    margin-top: 44px;
    line-height: 122%;
  }

  .main-head {
    font-size: 32px;
  }

  .coffee-slider {
    width: 380px;
    margin-left: -30px;
  }

  .coffee-slider img {
    width: 348px;
    height: 348px;

  }

  .swaper {
    width: 380px;
    margin: 0 16px;
  }
  
  .coffee-slider div {
    text-align: center;
    margin: 15px 0px 16px 0px;
  }
  
  .arrow-left button,
  .arrow-right button{
    display: none;
  }

  .picture {
    display: none;
  }
  
  .resource {
    font-size: 32px; 
    margin: 85px 16px 0 16px;
  }
  
  .picture-box div {
    margin-top: 40px;
    width: 348px;

  }

  .picture1 img {
    display: block;
    transition: 1s;
    top:50%;
    left:50%;
    width: 348px;
    height: 590px;
    object-fit:cover;

  }

  footer {
    width: 348px;
    margin: 100px 16px 40px 16px;
  }

  .head-footer {
    font-size: 32px; 
    color:#E1D4C9; 
    line-height: 125%; 
    width: 348px;
    margin-bottom: 40px;
  }

  .offer {
    padding: 60px 16px 40px 16px;
  }

  .container-contacts {
    padding: 0px 16px 43px 16px;
  }

  .main-img-phone {
    margin: 0 16px;
  }

  .main-img-phone img {
    width: 348px;
    height: 348px;
  }

  .main-header-download {
    font-size: 32px; 
  }

  .footer-box {
    width: 348px;
    margin: 100px 16px 40px 16px;
  }

  .button-link {
    display: block;
  }

  .button-link button {
    margin-bottom: 20px;
  }

  .burger {
    position: absolute;
    display: flex;
    width: 300px;
    justify-content: center;
    margin: -83px 0 0 170px;
}

.burger a{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border: 1px solid #665F55;
    justify-content: center;
    align-items: center;  
    background-color: rgba(225, 212, 201, 1);
    font-size: 34px;
}
}